
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* this is the footer section */

.footer {
  background: #030918;
  height: 600px;
}
.footer-wrapper{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 193px;
}
.footer-text {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  color: white;
}
.footer-container{
  margin-top: 40px;
  /* border: red 2px solid; */
}
.footer .about-text h2{
  font-size: 18px;
  font-weight: 700;
}
.footer .about-text p{
  font-size: 26px;
  color: rgba(255, 255, 255, 0.5);
  max-width: 230px;
  line-height: 1.3;
}
.footer-icon{
  margin-left: 10px;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 5px;
  align-self: center;
  text-align: center;
}
.footer-icon span{
  background: #ffffff14;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.footer-icon span:hover{
  background: #fc5e28;

}

.link-text h2{
  font-size: 18px;
  font-weight: 700;
}
.link-text h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-weight: bolder;
  height: 45px;
}
.link-text h4 span{
  font-size: 20px;
}
.link-text h4 span:hover {
  color: #fc5e28;
}

.contact-text h4{
   color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-weight: bolder;
  height: 45px;
  /* margin-top: 10px; */
}
.contact-text h4 span{
  font-size: 20px;
}
.contact-text h4 span:hover {
  color: #fc5e28;
}
.service-text h4{
   color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-weight: bolder;
  height: 45px;
  /* margin-top: 10px; */
}
.service-text h4 span{
  font-size: 20px;
}
.service-text h4 span:hover {
  color: #fc5e28;
}
.location{
  display: flex;
  /* justify-content: space-between; */
}
.location h4{
  color: rgba(255, 255, 255, 0.5);
  max-width: 200px;
  padding-left: 20px;
  line-height: 2.2;
  font-size: 18px;
  font-weight: 700;
}
.location .location-icon{
  color: rgba(255, 255, 255, 0.5);
}
.question-text .call{
  display: flex;
  color: rgba(255, 255, 255, 0.5);
}
.question-text .mail{
  display: flex;
  color: rgba(255, 255, 255, 0.5);
}
.question-text .call h4{
  padding-left: 10px;
}
.question-text .mail h4{
  padding-left: 10px;
  
}
.footer-heading{
  margin-top: 10%;
}
.footer-copyright{
  background: #fc5e28;
  height: 100px;
  width: 900px;
  position: relative;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 100% 100%,0 100%);
}
.footer-copyright h2{
  color: white;
  font-size: 22px;
  max-width: 600px;
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
}
@media (max-width: 800px){
  .footer {
  
  height: 1000px;
}
  .footer-text {
  display: grid;
  grid-template-columns: auto auto ;
  color: white;
}
}
@media (max-width: 500px){
  .footer {
  
  height: 1600px;
}
  .footer-text {
  display: grid;
  grid-template-columns: auto;
  color: white;
}
}
/* ======= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  width: 100%;
}
header{
    font-family: arial, sans-serif;
    width: 100%;
}
.mis-header{
    background-color: #030918;
}
header .first-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;
    width: 1100px;
    margin: 0 auto;
}
.email{
    display: flex;
    align-items: center;
    justify-content:center ;
    /* margin-left: 100px; */
}
.first-header .email a{
    font-size: 17px;
    color: lightgrey;
    font-weight: 100;
    text-decoration: none;
}
.email svg{
    width: 30px;
    height: 30px;
    color: #fc5e28;
}
.first-header .icon-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 500px;
}
.first-header .inqure a{
    color: white;
    background-color: #fc5e28;
    padding: 10px 13px;
    border: none;
    border-radius: 9px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial, sans-serif;
    font-weight: bold;
    /* margin-right: 100px; */
}
.sec-head{
    background-color: white;
    position: relative;
}
.second-header{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25vh;
}
.second-header .wilcon-logo{
    display: flex;
    align-items: center;
}
.wilcon-logo p{
    font-size: 40px;
    padding: 10px 0px;
    color: white;
    background-color: #fc5e28;
}
.wilcon-logo h1{
    /* width: 40%; */
    margin-left:10px ;
}
.wilcon-logo  h1 span{
    color: #fc5e28;
    font-size: 16px;
    display: block;
}
.contact{
    display: flex;
    align-items: center;
}
.contact p{
    color: #fc5e28;
    border: 1px rgb(206, 201, 201) solid;
    padding: 8px 5px;
}
.contact .cont-call{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact h4{
    font-weight: 700;
}
.contact h4 span{
    color: #fc5e28;
}
.cont-call h5{
    margin-left: 30px;
    color: grey;
}
.location{
    display: flex;
    align-items: center;
    gap: 20px;
}
.location span{
    color: #fc5e28;
}
.location h2{
    font-size: 17px;
    font-weight: bolder;
}
.second-header .location p{
    font-weight: 100;
    font-size: 15px;
    color: grey;
}
nav{
    background-color: #030918;
     width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    position: absolute;
    top: 191px;
    left: 123px;
    width: 82%;
    z-index: 2;
}
nav ul{
    display: flex;
    align-items: center;
    gap:30px ;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
nav  .home{
    background-color: #fc5e28;
    padding: 15px 30px;
    width: 100px ;   
}
 nav h3{
    color: white;
    background-color: #ffffff1a;
    padding: 10px ;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
}
.hero-section{
    background-image: url(./images/bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color:  rgb(68, 77, 80);
    background-blend-mode: overlay;
    font-family: arial, sans-serif;
    position: relative;
    top: 10px;
}
.wrapper-cont{
     width: 1100px;
    margin: 0 auto;
    padding-top: 160px;
}
.hero-section h1{
    color: white;
    font-size: 70px;
    width: 60%;
    margin-bottom: 20px;
    font-weight: bolder;
    text-transform: uppercase;

}
.hero-section p{
    color: lightgray;
    font-size: 18px;
    width: 50%;
    line-height: 1.5rem;
}
.hero-btn{
    margin-top: 25px;
}
.service-btn{
    background-color: #fc5e28;
    color: white;
    padding: 14px 15px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
}
.request-btn{
    background-color: white;
    color: rgb(26, 24, 24);
    font-weight: 100;
    padding: 14px 15px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
}
.prioty-container{
    font-family: arial, sans-serif;
    position: absolute;
    top: 122%;
    right: 0;
    left: 0;
}
.wrapper-prioty{
    width: 1100px;  
     margin: 0 auto;
   display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-one{
     display: flex;
    justify-content: space-between;
    background-color: #030918;
    color: white;
    height: 43vh;
}
.box-two{
     display: flex;
    justify-content: space-between;
    background-color:#fc5e28;
    color: white;
    height: 43vh;
    
}
.box-three{
     display: flex;
    justify-content: space-between;
    background-color: #030918;
    color: white;
    height: 43vh;
}
.box-one h5{
  font-size: 20px;
  border-radius:200px;
  text-align: center;
  padding-top: 37px;
  margin-right: 20px;
  margin-left: 20px;

}

.box-two h5{
   font-size: 20px;
  /* background-color:#030918; */
  /* height: 100px;
  width: 239px; */
  border-radius:20px;
  text-align: center;
  padding-top: 39px;
  margin-right: 20px;
  margin-left: 20px;
}
.box-three h5{
   font-size: 20px;
  /* background-color:#030918; */
  /* height: 100px;
  width: 239px; */
  border-radius:20px;
  text-align: center;
  padding-top: 39px;
  margin-right: 20px;
  margin-left: 20px;
}
.one-text h2{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 45px;
    width: 30%;
}
.two-text h2{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 45px;
    width: 30%;
}
.three-text h2{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 45px;
}
.one-text p{
    font-size: 17px;
    line-height: 2rem;
    color: lightgrey;
    width: 90%;
}
.three-text p{
    font-size: 17px;
    line-height: 2rem;
    color: lightgrey;
    width: 90%;
}
.two-text p{
    font-size: 17px;
    line-height: 2rem;
    color: lightgrey;
    width: 90%;
}
.intro-section{
  height: 100vh;
}